exportPattern("^[[:alpha:]]+")
import(
	"testthat",
	"lattice",
	"BoutrosLab.plotting.general", 
	"NanoStringNorm",
	"futile.logger",
	"mclust",
	"reshape2"
	);
importFrom(
	"grDevices",
	"dev.off",
	"pdf",
	"colours"
	);
importFrom(
	"stats",
	"aggregate",
	"as.dist",
	"cor",
	"cutree",
	"density",
        "dist",
	"hclust",
	"median",
	"sd",
	"na.omit"
	);
importFrom(
	"utils",
	"head",
	"tail",
	"read.csv"
	);
